{% extends "base.html" %}

{% block content %}
<form method="POST" style="margin-top: 4.5rem;">
  <h2>Добавление жильца</h2>
  <div class="form-group">
    <label for="first-name">Фамилия</label>
    <input type="text" class="form-control" id="first-name-input" name="first-name" placeholder="Пупкин">
  </div>
  <div class="form-group">
    <label for="last-name">Имя</label>
    <input type="text" class="form-control" id="last-name-input" name="last-name" placeholder="Василий">
  </div>
  <div class="form-group">
    <label for="patronymic">Отчество</label>
    <input type="text" class="form-control" id="patronymic-input" name="patronymic" placeholder="Иванович">
  </div>
  <div class="form-group">
    <label for="apartment_number">Номер квартиры</label>
    <input type="text" class="form-control" id="group-input" name="apartment_number" placeholder="99">
  </div>
  <button type="submit" class="btn btn-success mt-2">Добавить</button>
</form>
{% endblock %}