{% extends "base.html" %}

{% block content %}
<form method="POST" style="margin-top: 4.5rem;">
  <h2>Редактирование Жильцов</h2>
  <input type="hidden" id="id-input" name="id" value="{{resident.id}}">
  <div class="form-group">
    <label for="first-name">Фамилия</label>
    <input type="text" class="form-control" id="first-name-input" name="first-name" placeholder="Пупкин" value="{{resident.first_name}}">
  </div>
  <div class="form-group">
    <label for="last-name">Имя</label>
    <input type="text" class="form-control" id="last-name-input" name="last-name" placeholder="Василий" value="{{resident.last_name}}">
  </div>
  <div class="form-group">
    <label for="patronymic">Отчество</label>
    <input type="text" class="form-control" id="patronymic-input" name="patronymic" placeholder="Иванович" value="{{resident.patronymic}}">
  </div>
  <div class="form-group">
    <label for="apartment number">Номер квартиры</label>
    <input type="text" class="form-control" id="group-input" name="apartment_number" placeholder="99"  value="{{resident.apartment_number}}">
  </div>
  <button type="submit" class="btn btn-success mt-2">Изменить</button>
</form>
{% endblock %}